 *{
     padding:0;
     margin:0;
     text-decoration:none;
     list-style:none;
 }
 
 li {
    float:left; 
    margin-left:14px;
    margin-right:14px;
    border-bottom:4px solid transparent;
    padding-top:4px;
    padding-bottom:4px;

}
.clearfix::after
{
    clear:both;
    content:"";
    display:block;
}

nav>ul>a{
  
    font-size:12px;
    color:gray;
    font-weight:bold;
}
/* #logo{
    float:left;
    } */
nav{
    float:right;
}
ul li:hover{
    
    color:orange;
    
    border-bottom:4px solid red;
}