 *{
     padding:0px;
     margin:0px;
     text-decoration:none;
     list-style:none;
     /* color:white; */
      }
body{
   background-color:#efefef; 
}
[data-x].hell{border:5px solid green;}
 /* 清理浮动塌陷 */
.clearfix::after
{
    clear:both;
    content:"";
    display:block;
}
/* 右侧导航栏 */
nav>ul>li>a{
    font-size:13px;
    color:gray;
    font-weight:bold;
    position: relative;
}
nav>ul>li{
    float:left; 
    margin-left:14px;
    margin-right:14px;
    border-bottom:4px solid transparent;
    padding-top:4px;
    padding-bottom:4px;
    position: relative;
}
#one nav{
    float:right;
    padding-left:8px;
    padding-bottom:22px;
    padding-top:22px;
    margin-right:10px;
}

    ul>li>a:hover::after{
        content:'';
        display:block;
        top:100%;
        left:0;
        width:100%;
        background-color:orangered;
        height:3px;
        animation: v 0.4s;
        }
    @keyframes v{
        0%{
            width:0;
        }
        100%{
            width:100%;
        }
    }
    .submenu{
        display:none;
        position: absolute;
        content:'';
        clear:both;
        color:black;
        background-color:white;
        left:0;
        top:100%;
    }
     .active1{
        display:inline-block;
    }
    nav>ul>li>a.active1>.submenu{
      animation: sss .3s;
      display:block;
    }
    @keyframes sss{
        0%{
            margin-right:100%;
        }100%{
            margin-right:0%;
        }
    }
/* 左侧导航栏 */
#logo{
    margin-left:12px;
}
#one a span{
    float:left;
    font-family:"Arial Black";
    font-size:22px;
     margin-top:22px;
    }
.rs{
    color:#9A9DA2;
    float:left;
    }
.card{
    color:#e6686a;
     margin-left:4px 
}
#one{
    position: fixed;
    width:100%;
    /* border:1px solid green; */
}
.one-inner{
    height:82px;
    /* border:1px solid red; */
    position:relative;
}
/* 下方的图片 */
.banner{
    background-image:url("./background.JPG");
    height:500px;
    width:100%;
    z-index:-1;
    /* position: absolute; */
    background-position:center center;
    background-size:cover;
    
    }
    .banner>.bac{
        background-color:rgb(0,0,0,0.5);
        height:500px;
      }
/* 中部介绍栏 */
main{
    /* border:1px solid red; */
    display:block;
    max-width:900px;
    height:500px;
    margin:0 auto;
    background-color:white;
    
    border:1px solid gray;
    margin-top:-300px;
    box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.61);
   }
main .picture
{
    background-image:url('./head.jpg');
    width:300px;
    height:350px;
    /* position:center center; */
    background-size:cover;
    float:left;
    margin:40px;
}
main .text{
    /* margin:40px; */
    /* font-weight: bold; */
    padding-top:50px;
    /* position:relative; */
    float:left;
    width:470px;
}
.media{
    /* display:block; */
    height:71px;
    background-color:#e6686a;
    /* bottom:100%; */
    /* float:right; */
    /* z-index:0; */
}
.text dl{
    padding-top:20px;
}
.text dl dt,
.text dl dd
{
    float:left;
    padding-top:10px;
    padding-bottom:5px;
}
dl dt{
    width:30%;
    font-weight:bold;
}
dl dd{
    width:70%;
    color:gray;
}
/* 个人信息下的“hello” */
.welcome{
    /* display:inline-block; */
    display:inline-block;
    background:#e6686a;
    padding:2px 16px;
    text-align:center;
    line-height:29px;
    position: relative;
    margin-bottom:4px;
    color:white;
    }
.welcome .san{
    /* display:block; */
    border:10px solid transparent;
    border-left-color:#e6686a;
    border-top-width:0;
    position: absolute;
    top:100%;
    left:4px;
}
.text h1{
    margin-top:10px;
}
.text p{
    padding-bottom:20px;
}

.media .center a{
    width:40px;
    height:40px;
    display:block;
    float:left;
    border:1px solid transparent;
    /* background-color:#be3e27; */
    border-radius:50%;
    position: relative;
    /* margin-left:15px; */
    margin-left:30px;
}
.media .center a:hover{
    background-color:#be3e27;
}
.media a img{
    width:30px;
    height:30px;
    position: absolute;
    margin:5px 0px 0px 5px;
    
    
}
.media .center{
    width:250px;
    height:70px;
    margin:0 auto;
    padding:16px 5px 0px 5px;
    /* padding-bottom:20px; */
    
    line-height:70px;
}
.five{
    font-size:14px;
    line-height:16px;
    border:0.5px solid rgb(177, 175, 175);
    padding:17px 56px;
    display:inline-block;
    border-radius:2px;
    color:#3d4451;
    font-weight:bold;
    transition:box-shadow 0.3s;
    margin-top:20px;
}
.five:hover{
    box-shadow: 1px 4px 12px 1px rgba(0,0,0,0.61);
}
.introduce{
    text-align:center;
    margin:0 auto;
    margin:20px 0;
}
/* 底部技能栏 */

#s1{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid green; */
    margin-top:60px;
   
}
#s1>#s4,
#s2>#s3{
    text-align:center;
    /* font-weight:bold;  */
    margin-bottom:20px;
    margin-top:60px;
}
#s1>ol{
    box-shadow: -1px 1px 19px -1px rgba(0,0,0,0.75);
    padding:30px 20px 30px 80px;
    
    
}
#s1>ol>li{
    float:left;
    width:50%;
    padding:20px 0 20px 0;
    /* border-radius:2px; */
}
nav ol li:nth-child(1)
{
padding-left:0;
}
.css3{
    width:90%;
    height:5px;
    background-color:#ff9999;
    margin-top:5px;
    border-radius:4px;

}

.css3 .jindu{
    width:70%;
    height:100%;
    background-color: red;
    border-radius:4px;
}
#create{
    text-align:center;
    display:inline-block;
}
nav ol{
    display:inline-block;
    text-align: center;
}
nav ol li{
    float:left;
    /* display:inline-block; */
    padding-left:20px;
    cursor: pointer;
    
}
nav.bar{
    /* border:1px solid red; */
    display:block;
    margin-bottom:30px;
    border-radius: 2px;
    background-color: #fff;
    
 
}
nav.bar #barinner{
    height:3px;
    /* width:32px; */
    background-color:rgb(250, 79, 79);
    border-radius: 2px;
    transition:all 0.3s;
}
.barinner1{
    width:38px;
    margin-left:0;
}
.barinner2{
    width:39px;
    margin-left:60px;
}
.barinner3{
    width:106px;
    margin-left:121px;
}
#s2{
    text-align: center;
}

.jobs{
    
    height:597px;
    width:900px;
    position: relative;
    margin:0 auto;
}
.jobs .big,
.jobs .small{
    position: absolute;
    left:0;
    top:0;
}
.jobs .big img{
    width:570px;
    height:597px;
    
    position: absolute;
}
.jobs .small img{
    width:293px;
    height:286px; 
    position: absolute;
    
    margin-left:607px;
}
.sticky{
    background-color: white;
   height:60px;
   box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
}
[data-x].animate{

}
@keyframes slides{
    0%{
    transform: translateY(-30px);
    }
    100%{
     transform:translateY(0);
    }
}